<%# <div id="root">test data inside root div </div>
<div id="root_test"> test data inside root_test div </div> %>

<h1 data-controller="hello" id="root">Home#index</h1>
<p>Find me in app/views/home</p>