@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-131921: #131921;
}

body{
  font-family: "Rubic", sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
}

/* Header part */

.header-top-strip{
  background-color: var(--color-131921);
}

/* Header part ends here */